*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    margin:30px 0;
}

.contain-table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.contain-table-1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c8d6e5;
}

.head{
    background-color: #0abde3;
    font-size: 1.6em;
    font-weight: bold;
}

.contain-table td,th{
    padding: 10px;
}

.contain-table td{
    font-size: 20px;
}


.table-body{
    background-color: #dce1e2;
}

.table-body-1{
    background-color: #ffffff;
}